
#python env stuff
*.py[cod]
*.swp
venv*/
__pycache__/

#scratch and notes
.concept/
tools/i
tools/o

#data
data/

#configs
config/

#third party utilities we dont need to push
third_party/

#mac trash
*DS_Store
