
#python env stuff
*.py[cod]
*.swp
venv*/
__pycache__/

#scratch and notes
.concept/
tools/output
tools/input
tools/opfs

#data
data/

#configs
config/credentials.json

#third party utilities we dont need to push
third_party/

#mac trash
*DS_Store

#logs
logs/

#Visual Code
.vscode/*

#pycharm
.idea/*
